.profile-container {
  background: linear-gradient(to bottom, #00f26182 0%, #0576e66d 100%);
  margin-top: -10px;
  padding-top: 10px;
  padding-bottom: 80px;
}

.profileadmin {
  background: linear-gradient(to bottom, #00f26173 0%, #0576e67e 100%);
  margin-top: 30px;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  column-gap: 50px;
}

.profile_details {
  display: grid;
  grid-template-rows: 0.5fr auto auto;
  row-gap: 20px;
  margin-left: 30px;
}

.profile_photo {
  display: grid;
  grid-template-columns: 100px 1fr;
}

.photo {
  width: 80px;
  border-radius: 40px;
  display: inline-block;
}

.upload_photo:hover {
  opacity: 40%;
}

.profile_verified {
  margin-top: 30px;
  margin-left: 3px;
  width: 100px;
  text-align: center;
  border-radius: 16px;
  padding: 2px;
  background-color: greenyellow;
}

.profile_data {
  border-style: solid;
  border-color: lightslategray;
  border-radius: 10px;
}

.profile_data_rows {
  margin-top: 5px;
  margin-left: 5px;
  color: darkgrey;
}

.profile-data-values {
  display: inline-block;
  margin-top: 5px;
  margin-left: 5px;
}

.edit-button {
  margin-right: 20px;
  width: 60px;
  padding: 5px;
  border-radius: 15px;
  background-color: white;
  cursor: pointer;
}

.edit-button:hover {
  opacity: 40%;
}


.professional {
  border-style: solid;
  border-color: lightslategray;
  border-radius: 10px;
}

.delete_select {
  width: 80%;
  height: 30px;
  padding-left: 10px;
  border-radius: 20px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.delete-input {
  width: 80%;
  height: 30px;
  padding-left: 10px;
  border-radius: 20px;
}

.delete-button {
  margin-right: 20px;
  width: 60px;
  padding: 5px;
  border-radius: 15px;
  background-color: white;
  cursor: pointer;
}

.confirm-button {
  margin-right: 20px;
  width: 150px;
  padding: 5px;
  border-radius: 15px;
  background-color: white;
  cursor: pointer;
}

.cancel-button {
  margin-right: 20px;
  width: 80px;
  padding: 5px;
  border-radius: 15px;
  background-color: white;
  cursor: pointer;
}

.delete-button:hover,
.confirm-button:hover,
.cancel-button:hover {
  opacity: 40%;
}

@media (max-width: 1200px) {
  .profileadmin {
    display: block;
    margin-bottom: 30px;
    margin-left: 80px;
    margin-right: 80px;
  }

  .opinions {
    margin-top: 20px;
    margin-left: 30px;
    width: 97%;
  }
}
